<html lang="en" ng-app="ui.bootstrap.demo" id="top">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="assets/favicon.ico"/>
    <title>Angular directives for Bootstrap</title>
    <meta name="description" content="AngularJS (Angular) native directives for Bootstrap. Small footprint (5kB gzipped!), no 3rd party JS dependencies (jQuery, bootstrap JS) required! Widgets: Accordion, Alert, Buttons, Carousel, Collapse, Dateparser, Datepicker, Datepicker Popup, Dropdown, Modal, Pager, Pagination, Popover, Position, Progressbar, Rating, Tabs, Timepicker, Tooltip, Typeahead, ">
    <meta name="google-site-verification" content="7lc5HyceLDqpV_6oNHteYFfxDJH7-S3DwnJKtNUKcRg"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/assets/plunker.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/assets/app.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://angular-ui.github.io/bootstrap/assets/rainbow.css"/>
    <link rel="stylesheet" href="https://angular-ui.github.io/bootstrap/assets/demo.css"/>
    <link rel="author" href="https://github.com/angular-ui/bootstrap/graphs/contributors">

</head>
<body class="ng-cloak" ng-controller="MainCtrl">

<script type="text/javascript">
    angular.module('ui.bootstrap.demo').controller('ModalDemoCtrl', function ($scope, $uibModal, $log, $http) {

        $http.get('http://localhost.lh/ang.php').success(function (data) {
            $scope.items = data;
        });

        $scope.animationsEnabled = true;

        $scope.editItem = {title: 'test1', description: 'test2'};

        $scope.toggleAnimation = function () {
            $scope.animationsEnabled = !$scope.animationsEnabled;
        };

        $scope.edit = function ($id) {
            var modalInstance = $uibModal.open({
                animation: $scope.animationsEnabled,
                templateUrl: 'myModalContent',
                controller: 'ModalInstanceCtrl',
                resolve: {
                    item: function () {
                        return angular.copy($scope.items[$id]);
                    },
                    items: function () {
                        return $scope.items;
                    },
                    id: function () {
                        return $id;
                    }
                }
            });
        }

    });

    angular.module('ui.bootstrap.demo').controller('ModalInstanceCtrl', function ($scope, $uibModalInstance, $http, item, items, id) {

        $scope.item = item;

        $scope.save = function () {
            $http.post('http://localhost.lh/ang.php?action=save', $scope.item).success(function (data) {
                items[id] = data;
            });

            $uibModalInstance.close();
        };

        $scope.cancel = function () {
            $uibModalInstance.dismiss('cancel');
        };
    });
</script>

<h1>Angular example</h1>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent">
        <div class="modal-header">
            <h3 class="modal-title">Edit record</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" ng-model="item.title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" ng-model="item.description">
                </div>
            </form>
            {{test}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="save()">OK</button>
        </div>
    </script>

    <div class="container">
        <div class="row">
            <table class="table">
                <tr ng-repeat="item in items">
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="edit(item.id)">Edit</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>
